$navBackground: #1e428c;
$navHover: #b0c4de;
$navShadow: #91b3f8;

$brand: #2c5ab6;

$gradient1: lighten($brand, 21%);
$gradient2: lighten($brand, 16%);
$gradient3: lighten($brand, 12%);
$gradient4: $brand;